<div class="kye-info-section mb-120">
    <div class="container">

        <!-- Container for the partial to be injected -->
        <div id="keyinfo-container">
            Loading...
        </div>

    </div>
</div>

<div class="spa-service-section mb-120">
    <div class="container">
        <!-- Top Section: Title & Buttons -->
        <div class="row justify-content-center mb-70 wow animate fadeInDown"
             data-wow-delay="200ms"
             data-wow-duration="1500ms">
            <div class="col-xl-7 col-lg-9 mb-60">
                <div class="spa-section-title text-center">
                    <span>WELCOME</span>
                    <h2>
                        Beauty Treatments Can Include Skincare Services Such As
                        Facials, Peels.
                    </h2>
                    <p>
                        We believe in the transformative power of relaxation and self-care...
                    </p>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-7 col-lg-8">
                <div class="service-btn">
                    <a class="primary-btn4 appointment-btn" href="/Appontment/index">
                        BOOK APPOINTMENT
                        <svg class="arrow" width="10" height="10" viewBox="0 0 10 10"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                                  stroke-width="1.5"
                                  stroke-linecap="round" />
                        </svg>
                    </a>
                    <a class="primary-btn4 working-hour-btn" href="#">
                        WORKING HOURS - 9AM to 8PM
                        <svg width="11" height="16" viewBox="0 0 11 16"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1C2 3.5 6 7 9 8C6 9 2.5 11.5 1 15"
                                  stroke-linecap="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Placeholder for dynamically loaded content -->
        <div id="beauty-category-container" class="row gy-4 mb-50">
            <p>Loading categories...</p>
        </div>

        <!-- View All Treatments Button -->
        <div class="row wow animate fadeInUp"
             data-wow-delay="400ms"
             data-wow-duration="1500ms">
            <div class="col-lg-12 d-flex justify-content-center">
                <a class="primary-btn4 transparent-btn" href="/beauty/beautyservice">
                    VIEW ALL TREATMENTS
                    <svg class="arrow" width="10" height="10" viewBox="0 0 10 10"
                         fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 9L9 1M9 1C7.22222 1.33333 3.33333 2 1 1M9 1C8.66667 2.66667 8 6.33333 9 9"
                              stroke="#1E1E1E" stroke-width="1.5"
                              stroke-linecap="round" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<!-- service section ends -->
<!-- Video section Start here -->
<div class="spa-video-area " style="margin-top:-140px;">
    <div class="spa-video-wrapper">
        <video autoplay=""
               loop=""
               muted=""
               playsinline=""
               src="~/haircut/html-files/buret-html/assets/video/beauty-and-spa.mp4"></video>
        <div class="spa-video-content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="video-content">
                            <div class="video-left-content wow animate fadeInLeft"
                                 data-wow-delay="200ms"
                                 data-wow-duration="1500ms">
                                <h2>Elevating Mind, Body, And Soul With Beauty & Spa.</h2>
                                <span>Elevvy Jiue, Buret Founder</span>
                            </div>
                            <div class="video-right-content wow animate fadeInRight"
                                 data-wow-delay="400ms"
                                 data-wow-duration="1500ms">
                                <h6>Opening Hours</h6>
                                <ul>
                                    <li>Mon - Sun</li>
                                    <li>10AM - 7PM</li>
                                </ul>
                                <h6>Phone</h6>
                                .
                                <span><a href="tel:99078377854">+99(0) 783 778 54</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sub-title">
                </div>
            </div>
        </div>
    </div>
    <div class="swiper gallery-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="single-gallery-img">
                    <a href="https://www.instagram.com/" class="view-btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" fill="#E5E342" />
                            <g>
                                <path d="M15.625 6H10.375C7.95913 6 6 7.95913 6 10.375V15.625C6 18.0409 7.95913 20 10.375 20H15.625C18.0409 20 20 18.0409 20 15.625V10.375C20 7.95913 18.0409 6 15.625 6ZM18.6875 15.625C18.6875 17.3138 17.3138 18.6875 15.625 18.6875H10.375C8.68625 18.6875 7.3125 17.3138 7.3125 15.625V10.375C7.3125 8.68625 8.68625 7.3125 10.375 7.3125H15.625C17.3138 7.3125 18.6875 8.68625 18.6875 10.375V15.625Z"
                                      fill="#1E1E1E" />
                                <path d="M13 9.5C11.0671 9.5 9.5 11.0671 9.5 13C9.5 14.9329 11.0671 16.5 13 16.5C14.9329 16.5 16.5 14.9329 16.5 13C16.5 11.0671 14.9329 9.5 13 9.5ZM13 15.1875C11.7943 15.1875 10.8125 14.2057 10.8125 13C10.8125 11.7934 11.7943 10.8125 13 10.8125C14.2057 10.8125 15.1875 11.7934 15.1875 13C15.1875 14.2057 14.2057 15.1875 13 15.1875Z"
                                      fill="#1E1E1E" />
                                <path d="M16.7625 9.70375C17.0201 9.70375 17.2289 9.49494 17.2289 9.23737C17.2289 8.9798 17.0201 8.771 16.7625 8.771C16.5049 8.771 16.2961 8.9798 16.2961 9.23737C16.2961 9.49494 16.5049 9.70375 16.7625 9.70375Z"
                                      fill="#1E1E1E" />
                            </g>
                        </svg>
                        <h6>
                            <span>COLORING</span>
                            Instagram
                        </h6>
                    </a>
                    <img src="~/haircut/html-files/buret-html/assets/image/hair-salon/gallery-image.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="single-gallery-img">
                    <a href="https://www.instagram.com/" class="view-btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" fill="#E5E342" />
                            <g>
                                <path d="M15.625 6H10.375C7.95913 6 6 7.95913 6 10.375V15.625C6 18.0409 7.95913 20 10.375 20H15.625C18.0409 20 20 18.0409 20 15.625V10.375C20 7.95913 18.0409 6 15.625 6ZM18.6875 15.625C18.6875 17.3138 17.3138 18.6875 15.625 18.6875H10.375C8.68625 18.6875 7.3125 17.3138 7.3125 15.625V10.375C7.3125 8.68625 8.68625 7.3125 10.375 7.3125H15.625C17.3138 7.3125 18.6875 8.68625 18.6875 10.375V15.625Z"
                                      fill="#1E1E1E" />
                                <path d="M13 9.5C11.0671 9.5 9.5 11.0671 9.5 13C9.5 14.9329 11.0671 16.5 13 16.5C14.9329 16.5 16.5 14.9329 16.5 13C16.5 11.0671 14.9329 9.5 13 9.5ZM13 15.1875C11.7943 15.1875 10.8125 14.2057 10.8125 13C10.8125 11.7934 11.7943 10.8125 13 10.8125C14.2057 10.8125 15.1875 11.7934 15.1875 13C15.1875 14.2057 14.2057 15.1875 13 15.1875Z"
                                      fill="#1E1E1E" />
                                <path d="M16.7625 9.70375C17.0201 9.70375 17.2289 9.49494 17.2289 9.23737C17.2289 8.9798 17.0201 8.771 16.7625 8.771C16.5049 8.771 16.2961 8.9798 16.2961 9.23737C16.2961 9.49494 16.5049 9.70375 16.7625 9.70375Z"
                                      fill="#1E1E1E" />
                            </g>
                        </svg>
                        <h6>
                            <span>COLORING</span>
                            Instagram
                        </h6>
                    </a>
                    <img src="~/haircut/html-files/buret-html/assets/image/hair-salon/gallery-image-5.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="single-gallery-img">
                    <a href="https://www.instagram.com/" class="view-btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" fill="#E5E342" />
                            <g>
                                <path d="M15.625 6H10.375C7.95913 6 6 7.95913 6 10.375V15.625C6 18.0409 7.95913 20 10.375 20H15.625C18.0409 20 20 18.0409 20 15.625V10.375C20 7.95913 18.0409 6 15.625 6ZM18.6875 15.625C18.6875 17.3138 17.3138 18.6875 15.625 18.6875H10.375C8.68625 18.6875 7.3125 17.3138 7.3125 15.625V10.375C7.3125 8.68625 8.68625 7.3125 10.375 7.3125H15.625C17.3138 7.3125 18.6875 8.68625 18.6875 10.375V15.625Z"
                                      fill="#1E1E1E" />
                                <path d="M13 9.5C11.0671 9.5 9.5 11.0671 9.5 13C9.5 14.9329 11.0671 16.5 13 16.5C14.9329 16.5 16.5 14.9329 16.5 13C16.5 11.0671 14.9329 9.5 13 9.5ZM13 15.1875C11.7943 15.1875 10.8125 14.2057 10.8125 13C10.8125 11.7934 11.7943 10.8125 13 10.8125C14.2057 10.8125 15.1875 11.7934 15.1875 13C15.1875 14.2057 14.2057 15.1875 13 15.1875Z"
                                      fill="#1E1E1E" />
                                <path d="M16.7625 9.70375C17.0201 9.70375 17.2289 9.49494 17.2289 9.23737C17.2289 8.9798 17.0201 8.771 16.7625 8.771C16.5049 8.771 16.2961 8.9798 16.2961 9.23737C16.2961 9.49494 16.5049 9.70375 16.7625 9.70375Z"
                                      fill="#1E1E1E" />
                            </g>
                        </svg>
                        <h6>
                            <span>COLORING</span>
                            Instagram
                        </h6>
                    </a>
                    <img src="~/haircut/html-files/buret-html/assets/image/hair-salon/gallery-image-3.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="single-gallery-img">
                    <a href="https://www.instagram.com/" class="view-btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" fill="#E5E342" />
                            <g>
                                <path d="M15.625 6H10.375C7.95913 6 6 7.95913 6 10.375V15.625C6 18.0409 7.95913 20 10.375 20H15.625C18.0409 20 20 18.0409 20 15.625V10.375C20 7.95913 18.0409 6 15.625 6ZM18.6875 15.625C18.6875 17.3138 17.3138 18.6875 15.625 18.6875H10.375C8.68625 18.6875 7.3125 17.3138 7.3125 15.625V10.375C7.3125 8.68625 8.68625 7.3125 10.375 7.3125H15.625C17.3138 7.3125 18.6875 8.68625 18.6875 10.375V15.625Z"
                                      fill="#1E1E1E" />
                                <path d="M13 9.5C11.0671 9.5 9.5 11.0671 9.5 13C9.5 14.9329 11.0671 16.5 13 16.5C14.9329 16.5 16.5 14.9329 16.5 13C16.5 11.0671 14.9329 9.5 13 9.5ZM13 15.1875C11.7943 15.1875 10.8125 14.2057 10.8125 13C10.8125 11.7934 11.7943 10.8125 13 10.8125C14.2057 10.8125 15.1875 11.7934 15.1875 13C15.1875 14.2057 14.2057 15.1875 13 15.1875Z"
                                      fill="#1E1E1E" />
                                <path d="M16.7625 9.70375C17.0201 9.70375 17.2289 9.49494 17.2289 9.23737C17.2289 8.9798 17.0201 8.771 16.7625 8.771C16.5049 8.771 16.2961 8.9798 16.2961 9.23737C16.2961 9.49494 16.5049 9.70375 16.7625 9.70375Z"
                                      fill="#1E1E1E" />
                            </g>
                        </svg>
                        <h6>
                            <span>COLORING</span>
                            Instagram
                        </h6>
                    </a>
                    <img src="~/haircut/html-files/buret-html/assets/image/hair-salon/gallery-image-4.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="single-gallery-img">
                    <a href="https://www.instagram.com/" class="view-btn">
                        <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect width="26" height="26" rx="5" fill="#E5E342" />
                            <g>
                                <path d="M15.625 6H10.375C7.95913 6 6 7.95913 6 10.375V15.625C6 18.0409 7.95913 20 10.375 20H15.625C18.0409 20 20 18.0409 20 15.625V10.375C20 7.95913 18.0409 6 15.625 6ZM18.6875 15.625C18.6875 17.3138 17.3138 18.6875 15.625 18.6875H10.375C8.68625 18.6875 7.3125 17.3138 7.3125 15.625V10.375C7.3125 8.68625 8.68625 7.3125 10.375 7.3125H15.625C17.3138 7.3125 18.6875 8.68625 18.6875 10.375V15.625Z"
                                      fill="#1E1E1E" />
                                <path d="M13 9.5C11.0671 9.5 9.5 11.0671 9.5 13C9.5 14.9329 11.0671 16.5 13 16.5C14.9329 16.5 16.5 14.9329 16.5 13C16.5 11.0671 14.9329 9.5 13 9.5ZM13 15.1875C11.7943 15.1875 10.8125 14.2057 10.8125 13C10.8125 11.7934 11.7943 10.8125 13 10.8125C14.2057 10.8125 15.1875 11.7934 15.1875 13C15.1875 14.2057 14.2057 15.1875 13 15.1875Z"
                                      fill="#1E1E1E" />
                                <path d="M16.7625 9.70375C17.0201 9.70375 17.2289 9.49494 17.2289 9.23737C17.2289 8.9798 17.0201 8.771 16.7625 8.771C16.5049 8.771 16.2961 8.9798 16.2961 9.23737C16.2961 9.49494 16.5049 9.70375 16.7625 9.70375Z"
                                      fill="#1E1E1E" />
                            </g>
                        </svg>
                        <h6>
                            <span>COLORING</span>
                            Instagram
                        </h6>
                    </a>
                    <img src="~/haircut/html-files/buret-html/assets/image/hair-salon/gallery-image-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>








<script src="~/haircut/html-files/buret-html/assets/js/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {

        // 1) AJAX get to fetch the partial
        $.get('/Beauty/GetBeautyCardPartial')
            .done(function (partialHtml) {
                // 2) Inject the HTML into #keyinfo-container
                $('#keyinfo-container').html(partialHtml);
            })
            .fail(function () {
                $('#keyinfo-container').html('<p>Error loading info cards.</p>');
            });
    });
</script>
<script>
    
        $(document).ready(function () {
            // 1) Load the partial
            $.get('/Beauty/GetBeautyCategoryPartial')
                .done(function (partialHtml) {
                    // 2) Insert into #beauty-category-container
                    $('#beauty-category-container').html(partialHtml);

                    // 3) If using WOW.js dynamically, re-init
                    if (typeof WOW !== 'undefined') {
                        new WOW().init();
                    }
                })
                .fail(function () {
                    $('#beauty-category-container').html('<p>Error loading beauty categories.</p>');
                });
        });
</script>
