<div class="bootstrap-modal">
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Beauty Service Content</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <div class="form-validation">
                        <form class="needs-validation" id="BeautyServicesAdd">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <!-- Question Field -->
                                <div class="col-md-6">
                                    <div class="mb-3 row">
                                        <label for="question" class="col-lg-4 col-form-label">
                                            Service Name
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" id="question" class="form-control" name="Heading" placeholder="Enter a Heading " required>
                                            <div class="invalid-feedback">
                                                Heading Can't be empty
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-3 row">
                                        <label for="answer1" class="col-lg-4 col-form-label">
                                            Sub heading
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" id="answer1" class="form-control" name="Subheading" placeholder="Enter a Sub heading " required>
                                            <div class="invalid-feedback">
                                                Sub heading Can't be empty
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="mb-3 row">
                                        <label for="answer2" class="col-lg-4 col-form-label">
                                            Description
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-8">
                                            <input type="text" id="answer2" class="form-control" name="Description" placeholder="Enter the service description" required>
                                            <div class="invalid-feedback">
                                                Description Can't be empty
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="mb-3 row">
                                        <label class="col-lg-4 col-form-label">
                                            Beauty items Category
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <select class="default-select wide form-control" name="BeautyServicesItemId" id="Beautyserviceitemdata" required>
                                                <option value="">Please select</option> <!-- Default placeholder -->
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a valid Beauty service category.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br />


                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                <button id="btnSubmitBeautyservice" type="button" class="btn me-2 btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
  
</div>



